<% if @users.count == 0 %>
	Нет пользователей в этой сети
<% end %>

<% @users.each do |user| %>

<div class="card photo-form">
  <div class="card-block">

  <span class = "span-pull-left"> 
    <%= link_to user.name, profile_path(user.id) %>
  </span>
  

  <span class = "span-pull-right">   
  <% if current_user == user %>
  	Это вы
  <% else %>
	  <% if current_user.is_friend?(user) %>
	    <%= link_to "Отписаться", unsubscribe_path(user.id), class: "photo-link" %> 
	  <% else %>
	    <%= link_to "Подписаться", subscribe_path(user.id), class: "photo-link" %> 
	  <% end %>
  <% end %>
</span>

  </div>
</div>

<br>

<% end %>

<%= will_paginate @users %>
