
    <% @photos.each do |photo| %>
        <div class="card photo-form">
          <div class="card-header">
            <%= photo.description %>
          </div>
        <div class="card-block">
        
        <div class= "img-container">
          <%= link_to photo, class: 'photo-link' do %>
            <%= image_tag photo.image.url(:medium), class: "img" %>
          <% end %>
        </div>

          <br/><br/>
          <%= link_to photo.user.name, profile_path(photo.user) unless photo.user.nil? %><br/><br/>

        </div>
        </div>

    <% end %>


<br>
